.signin { 
    width: 600px;
    margin: 0 auto;
    text-align: center;
    input {
        padding: 5px 10px;
        width: 300px;
        border: 1px solid #1498d5;
        color: #1498d5;
        margin-bottom: 10px;
    }
    submit {
        margin-bottom: 10px;
    }
}