form {
    margin-bottom: 30px;
    .input-row{
        margin-bottom: 15px;

        .input-field{
            input[type="text"] {
                width: 100%;
                padding-left: 15px;
                outline: 0;
                line-height: 30px;
                height: 30px;
            }
            input[type="checkbox"] {
                
            }
            .description {
                padding-left: 10px;
            }
        }
    } 
}


.modal-dialog {
    .modal-header {
        background: $primary-color;
        h5 { 
            color: #FFFFFF;
        }
        .close {
            color: #FFFFFF;
            opacity: 1;
        }
    }
}