
.modal-header {
    .modal-title {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
    }
}

.form-section {
    h3 {  
        font-weight: bold;
        border-bottom: 1px solid #ddd;
        margin-bottom: 15px;
        margin-top: 15px;
        padding-bottom: 15px;
        width: 100%;
    }
    .form-subsection{
        padding: 15px;
        border: 1px solid #ddd;
        margin-bottom: 15px;
    }
}
.form-group{
    margin-bottom: 15px;
    position: relative;
    label{
        font-weight: normal;
    }
    .ui-inputtext {
        width: 100%;
        padding-left: 15px;
        outline: 0;
        line-height: 30px;
        height: 30px;
    }
    select {
        width: 100%;
        background: #FFFFFF url(/assets/img/arrow-down.png) no-repeat 98% center;
        border-radius: 0;
        border: 1px solid rgb(204, 204, 204);
        height: 30px;
        -webkit-appearance: none;
        padding-left: 15px;
        outline: 0;
        cursor: pointer;
    }
    .ui-autocomplete-input {
        width: auto;
    }
    .label-checkbox {
        padding-left: 10px;
        display: inline-block;
    }
    &.checkbox {
        margin-bottom: 0;
    }
} 

.messageErrors {
    color: red;
    white-space: pre-line;
}

.modal-dialog {
    max-width: 800px;
    .modal-header {
        background: $primary-color;
        h5 { 
            color: #FFFFFF;
        }
        .close {
            color: #FFFFFF;
            opacity: 1;
        }
    }
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover { 
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
 }

 .btn-delete { 
     position: relative;
     display: inline-block;
     .tooltip-yes-no{
        color: #fff;
        background: #2F353E;
        border-radius: 5px;
        color: #fff;
        padding: 5px 10px;
        position: absolute;
        font-size: 12px;
        line-height: 1.4em;
        z-index: 900000;
        display: inline-block;
     }
}