form {
    margin-bottom: 30px;
    .input-row{
        margin-bottom: 15px;
        .input-field{
            position: relative;
            input[type="text"] {
                width: 100%;
                padding-left: 15px;
                outline: 0;
                line-height: 30px;
                height: 30px;
            }
            input[type="checkbox"] {
                
            }
            .label-checkbox {
                padding-left: 10px;
                display: inline-block;
            }
            .warning{
                color: red;
                font-size: 12px;
            }
        }
        &.checkbox {
            margin-bottom: 0;
        }
    } 
}


.modal-dialog {
    max-width: 800px;
    .modal-header {
        background: $primary-color;
        h5 { 
            color: #FFFFFF;
        }
        .close {
            color: #FFFFFF;
            opacity: 1;
        }
    }
}