@charset "UTF-8";

@import 'vendor/normalize';
@import 'vendor/bootstrap';

$primary-color: #1498d5;

/*=== General styles */
ul { margin: 0; padding: 0; list-style: none; }

body { }

header { 
    padding: 10px 0;
    img.logo { width: 150px; }
}

.signin { 
    width: 600px;
    margin: 0 auto;
    text-align: center;
    input {
        padding: 5px 10px;
        width: 300px;
        border: 1px solid $primary-color;
        color: $primary-color;
        margin-bottom: 10px;
    }
    submit {
        margin-bottom: 10px;
    }
}

footer { 
    padding: 15px 0; background: $primary-color ; color: #FFFFFF; position: absolute; left: 0; right: 0; bottom: 0;
    p { margin: 0; }
}


